.credentials_cont{
    display: grid;
    grid-template-columns: minmax(5vw,1fr) 80vw minmax(5vw,1fr);
    grid-template-rows: 10vh 90vh;
    grid-template-areas:'. goback_btn .'
     '. credentials_box_area .';
}
.goback_btn{
    grid-area: goback_btn;
    border-bottom: 1px solid black;
    justify-content: flex-start;
}
.credentials_box_area{
    grid-area: credentials_box_area;
}