.credentials_cont{
    display: grid;
    grid-template-columns: minmax(5vw,1fr) 80vw minmax(5vw,1fr);
    grid-template-rows: 100vh;
    grid-template-areas: '. credentials_box_area .';
}
.credentials_box_area{
    grid-area: credentials_box_area;
    background-color: pink;
}