.UserCredentialsComponent{
    width: 30vw;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 'uc1r1 uc2r1'
                         'ucr2 ucr2';
}
.uc1r1{
    grid-area: uc1r1;
    border-bottom: 1px solid black;
}
.uc1r1:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}
.uc2r1{
    grid-area: uc2r1;
    border-bottom: 1px solid black;

}
.uc2r1:hover{
    background-color: rgba(255, 255, 255, 0.5);border: none;
}
.ucr2{
    grid-area: ucr2;
    /* border: 2px solid black; */
}
.input_field{
    padding: 1rem 2rem;
    background-color: transparent;
    border-bottom: 1px solid black;
    color: white;
    outline: none;
}
.sign_btn{
    margin-top: 10%;
    padding: 0.5rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.1);
}
.sign_btn:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgray;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgray;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: lightgray;
  }
  